.btn-group {
  display: flex;
  padding: 10px;
}
.btn-group__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.btn-group__btn {
  margin-bottom: 16px;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_large {
  padding: 8px 16px;
}

.btn_small {
  padding: 4px 8px;
}

.btn_large-only-icon {
  width: 32px;
  height: 32px;
}

.btn_small-only-icon {
  width: 24px;
  height: 24px;
}

.btn_blue {
  background: #459df5;
}
.btn__icon {
  height: 12px;
  width: 12px;
}

.btn__icon_white {
  fill: #ffffff;
}
.btn__icon_blue {
  fill: #459df5;
}

.btn__icon_black {
  fill: #000000;
}

.btn__icon_large {
  margin-right: 10px;
}
.btn__icon_small {
  margin-right: 6px;
}

.btn-text {
  font-size: 13px;
  line-height: 16px;
}
.btn-text_white {
  color: #ffffff;
}
.btn-text_blue {
  color: #459df5;
}
.btn-text_black {
  color: #000000;
}
