body {
  background-color: darkgrey;
  font-family: Ubuntu;
  height: 100%;
}

.page {
  margin: 0 auto;
  padding: 32px;
}

.page__input-data-wrapper {
  display: inline-block;
  padding: 0px 32px 0px 32px;
  border: 1px dashed #8055ff;
  box-sizing: border-box;
  border-radius: 5px;
}

.page__input-date {
  margin-bottom: 50px;
}

.page__label-input {
  margin-bottom: 8px;
}

.label-input {
  font-size: 13px;
  line-height: 16px;
}
.input-date {
  display: block;
  position: relative;
}
.input-date__input {
  outline: none;
  width: 256px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #459df5;
  padding: 4px 20px 4px 8px;
  font-size: 13px;
  line-height: 16px;
}

.input-date__input::placeholder {
  color: #bad8f5;
}

input-date__btn {
  cursor: pointer;
}
.input-date__input_error {
  border: 1px solid #f53152;
}

.input-date__input_locked {
  background: #bad8f5;
  border: 1px solid #459df5;
  box-sizing: border-box;
  border-radius: 4px;
}

.input-date__icon-x {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 235.5px;
  top: 11.5px;
  stroke: #bad8f5;
}
.input-date__icon-locked {
  position: absolute;
  width: 12px;
  height: 14px;
  left: 236px;
  top: 9px;
  fill: #000000;
}
